extends ./main

block content
    div.container
        h2 #{title}
        if msg == 1
            div.alert.alert-success Cliente Cadastrado com sucesso!
        if msg == 2
            div.alert.alert-danger Não foi possívle cadastrar o cliente! 
        if msg == 3    
            div.alert.alert-success Cliente Alterado com sucesso!
        if msg == 4    
            div.alert.alert-danger Não foi possível alterar o cliente! 
        if msg == 5    
            div.alert.alert-success Cliente Removido com sucesso!
        if msg == 6    
            div.alert.alert-danger Não foi possível remover o cliente!     

        table.table.table-bordered
            thead
                tr
                    th Nome
                    th Cnpj
                    th Telefone
                    th E-mail
                    th Contato
                    th Ações
            tbody
                each client in clients
                    tr  
                        td= client.cliente
                        td= client.cnpj
                        td= client.telefone
                        td= client.email
                        td= client.contato
                        td 
                            a(href="/client/edit/" + client.id, class="btn btn-info") Editar
                            form(
                                method="POST" 
                                action="/client/" + client.id + "?_method=DELETE", 
                                style="display:inline-block;")                                
                                button.btn.btn-danger.ml-2(type="submit") Delete