extends ./main

block content
    div.container
        h2 #{title}
        
        if(flash.message)
            div(class=`alert alert-${flash.type}`) #{flash.message}    

        table.table.table-bordered
            thead
                tr
                    th Nome
                    th Cnpj
                    th Telefone
                    th E-mail
                    th Contato
                    th Ações
            tbody
                each client in clients
                    tr  
                        td= client.cliente
                        td= client.cnpj
                        td= client.telefone
                        td= client.email
                        td= client.contato
                        td 
                            a(href="/client/edit/" + client.id, class="btn btn-info") Editar
                            form(
                                id="formClient"
                                method="POST" 
                                action="/client/" + client.id + "/?_method=DELETE", 
                                style="display:inline-block;")                                
                                button.btn.btn-danger.ml-1(
                                    type="submit", 
                                    onclick="event.preventDefault();if(confirm('Você deseja realmente deletar este cliente?')){document.getElementById('formClient').submit();}") Delete